<h1>List of all movies</h1>

<table border="1">
<tr> 
<td>ID</td>
<td>Image</td>
<td>Title</td>
<td>Year</td>
<td>Director</td>
<td></td>
</tr>
<% Movie.all.each do |a_thing|%>
<tr>
  <td><%=a_thing.id%></td>
  <td><img src="<%=a_thing.image%>"></td>
  <td><%=a_thing.title%></td>
  <td><%=a_thing.year%></td>
  <td><%=Director.where(:id => a_thing.director_id).at(0).name%></td>
  <td> 
  <a href="/movies/<%=a_thing.id%>"> 
  Show details
  </a> 
  </td>
</tr>
<%end%>
</table>